<div>
  <h1>Stupid Coaching</h1>
</div>


<div class='question'>
  <h3><%=@question%>
  <br/>
  - You
  </h3>
</div>

<div class='banner answer'>
  <h3>
  <strong><%=@answer%></strong>
  <br/>
  - Your coach
  <br/>
  <br/>
  </h3>
</div>

<%= link_to "Ask a new question", ask_path %>
